@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}
.ball
{
    font-family: "UnifrakturMaguntia", serif;
}